::ng-deep .p-component
 font-size: 14px 

.card
 width: 1000px
 border: 1px solid black

.table-content
 margin-left: 12%
 

::ng-deep .p-datatable .p-sortable-column .p-sortable-column-icon
 color: red