.main-component
 background: url("https://yt3.ggpht.com/a/AGF-l7_ihpzvLI1LvTTrKhjBwoByx5_Qf_9GIiPgLw=s900-c-k-c0xffffffff-no-rj-mo")
 background-repeat: no-repeat
 background-size: 100%
 margin-top: -22px

.heading
 text-align: center
 color: white
 padding: 2%
.show-error
 color: red

.container
 display: flex
 flex-flow: row wrap

.left-info
 height: 84vh
 width: 50%
 // box-shadow: 0 0 20px 0 black

.form
 position: relative
 top: 30%
 left: 50%

label
 font-size: 25px
 color: white

input
 width: 350px
 height: 30px
 border: 1px blue solid
 margin-bottom: 5px
 border-radius: 7px

button
 background: #04AA6D
 color: white
 border: none
 margin: 2px
 padding: 6px

