nav
 display: flex
 flex-flow: row-wrap
 justify-content: space-between
 width: 50%
 margin-left: 5%
 
 color: white !important
 padding: 1%

a
 color: white
 text-decoration: none

.header
 background-color: black

.active
 text-decoration: underline 
 
